
    body{
        background-color: #CCCCCC;
        font-family:"Segoe UI", sans-serif;
        color: #FFFFFF;
    }
    object {
    width: 130px;
    height: 130px;
    }
    input {
        width: 70%;
        
        padding: 0.6rem;
        font-size: 1.2rem;
        border-radius: 4px;
        border: 0;
        margin: 0.8rem;
    }
    input:focus{
        outline: none;
        box-shadow: 0 0 10px #1D0C20;
    }
    button {
        margin-top: 0.5rem;
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
        text-align: center;
        box-sizing: border-box;

        color: #FFFFFF;
        background-color: #1D0C20;

        border-radius: 4px;
        border: none;

        cursor: pointer;
        

    }
    button:hover{
        background-color: #641F70;
    }

    .container{
        background: linear-gradient(180deg, #200D24, #501A59);
        margin: 20px auto;
        width: 95%;
        max-width: 670px;
        padding: 25px;
        border-radius: 8px;
        
        
    }
    .header{
        
        text-align: center;
    }
    .header-title{
        color: #FECD23;
        
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
        line-height: 1;
    }
    .header-text, .header-text2{
        margin-bottom: 0.4rem;
        line-height: 1.4;
    }
    .brinde{
        font-weight: 600;
    }
    
    .container-2{
        background: linear-gradient(180deg, #591B64, #1E0C21);
        
        padding: 20px;
        
        border-radius: 8px;
        
        justify-content: space-around;
        
       
        margin-top: 15px;
        
        
        
    }

    .cards{
        display: flex;
        justify-content: center;
        gap: 2.12rem;
        
    }
    .text{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 6px;
    }
    .form{
        margin-top: 10px;
    }
    .box{
        background: linear-gradient(180deg, #2935CC, #302EA1);
        margin-top: 20px;
        width: 29%;
        padding: 9px;
        border-radius: 7px;

         overflow: hidden;
        
    }
    .card{
        background: linear-gradient(180deg, #4164F0,#69B9FC);
        
        padding: 1.2rem;

        font-size: 1.15rem;
        text-align: center;
    }
    .image-group{
        margin-top: 5px;
    
        text-align: center;  
    }
    .autoria{
        font-size: 0.87rem;
        text-align: center;
        margin-top: 0.37rem;
    }
    @media screen and (max-width:600px) {
        html{
            font-size: 14px;
        }
        .container{
            width: 80%;
            padding: 25px;
        }

        .container-2{
            padding: 16px;
            
        }

        .cards{
            flex-direction: column;
            align-items: center;
            gap: 15px;
            
        }

        .box{
            width: 75%;
            padding: 8px;
            margin-top: 0px;
            
        }
        .card {
            padding: 28px;
            
        }
        object{
            width: 90%;
            height: 90%;
            
        }
        
        input{
            width: 86%;
            
        }
        
    }
    