
    body{
        background-color: #CCCCCC;
    }
    .container{
        background: linear-gradient(180deg, #37133D, #551A5F);
        margin: auto;
        width: 700px;
        height: 650px;
        padding: 1.2rem;
        border-radius: 8px;
        overflow: hidden;
        
    }
    .cards{
        background: linear-gradient(180deg, #591B64, #280F2C);
        display: flex;
        border-radius: 7px;
        
        justify-content: space-around;
        
        padding: 1rem;
       
    }
    .box{
        background: linear-gradient(180deg, #2935CC, #302EA1);
        padding:9px;
        border-radius: 5px;
        
    }
    .card{
        background: linear-gradient(180deg, #3F61EF,#63ADFA);
        color: #FFFFFF;
        padding: 90px 40px;
    }
